@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

:root {
    --gray: #818080;
    --gray-light: #d9d6d6;
    --gray-lightest: #fafafa;
    --gray-dark: #262626;
    --green: green;
    --green-light: #a8d4a8;
    --speed: .3s;
    --blue: #1d5766;
    --blue-light: #a0d1de;

    --primary: var(--blue);
    --primary-light: var(--blue-light);

    --pink: #f8dbdd;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;

    &[data-zoom="true"] {
        &:after {
            content: '';
            display: block;
            background: black;
            opacity: .4;
            width: 100%;
            z-index: 4;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html {
    height: 100%;
    margin: 0;
}

.no-button {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
}

.site-title {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px;
    font-weight: 300;
    color: var(--primary);
}

.site-logo {
    margin-top: 20px;
    max-width: 90px;
}

.site-introduction {
    padding: 0 20px;
    max-width: 600px;
    line-height: 24px;
    font-size: 13px;
    margin: 0 auto 60px;
}

#app {
    height: 100%;
}

.cards {
    text-align: center;
    width: 100%;
    max-width: 980px;
    margin: 0 auto 70px;
    padding: 20px;
    column-gap: 50px;

    @media only screen and (min-width: 721px) {
        column-count: 2;
    }

    @media only screen and (min-width: 1580px) {
        column-count: 3;
        padding: 20px 120px;
        max-width: none;
    }
}

.card {
    align-self: center;
    display: flex;
    text-align: left;
    flex-direction: column;
    flex: 1 1 200px;
    margin-bottom: 60px;

    break-inside: avoid;
    break-after: avoid;
    break-before: avoid;

    .title {
        color: var(--gray-dark);
        font-weight: normal;
        font-size: 12px;
        font-style: italic;
        letter-spacing: 1px;
    }

    .image {
        background: var(--gray-light);
        display: block;
        max-width: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        cursor: zoom-in;
        transition: all var(--speed) ease-in-out;
        background-size: contain;
    }

    .add-to-basket {
        user-select: none;
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-top: 10px;
        align-items: flex-start;

        .fa-shopping-cart {
            width: 40px;
            height: 40px;
            display: block;
            padding: 10px;

            path {
                transition: fill var(--speed) ease-in-out;
                fill: var(--gray-dark);
            }
        }

        .quantity {
            margin-left: 12px;
            color: white;
            font-size: 14px;
            margin-right: -3px;
        }

        .remove-product-button {
            color: var(--gray);
            background: var(--gray-light);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-top: 6px;
            transition: all var(--speed) ease-in-out;

            &:hover {
                color: var(--gray-light);
                background: var(--gray);
            }
        }

        .add-product-button {
            display: flex;
            justify-content: flex-end;
            gap: 3px;
            align-items: center;
            background: var(--gray-light);
            border-radius: 20px;
            transition: all var(--speed) ease-in-out;

            &:hover {
                background: var(--primary);

                path {
                    fill: white;
                }
            }
        }

        .price {
            margin-right: auto;
            color: var(--gray);
            margin-top: 4px;
        }
    }

    &.has-line-item .add-to-basket {
        .add-product-button {
            background: var(--primary);

            path {
                fill: white;
            }
        }

        .price {
            color: var(--primary);
        }

    }

    &.portrait {
        .image {
            margin: 0 auto;
            width: 80%;
        }

        .add-to-basket,
        .title {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &:hover .image {
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    }


    .add-to-basket.disabled .add-product-button {
        pointer-events: none;
        background: var(--gray);
    }
}

.go-to-stripe-button {
    font-size: 14px;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    background: white;
    transition: all var(--speed) ease-in-out;
    border: 2px solid var(--primary);
    pointer-events: all;
    position: relative;
    overflow: hidden;
    color: var(--primary);

    .total-price {
        background: var(--primary);
        color: white;
        font-size: 13px;
        padding: 10px;
        border-radius: 20px;
        margin-right: 20px;
        transition: all var(--speed) ease-in-out;
    }

    .fa-chevron-right {
        margin-left: 10px;
        path {
            fill: var(--primary);
            transition: all var(--speed) ease-in-out;
        }
    }

    &.disabled {
        pointer-events: none;
        border-color: var(--gray);
        background: var(--gray-light);
        color: var(--gray);
        font-weight: normal;

        .fa-chevron-right {
            path {
                fill: var(--gray);
            }
        }
    }

    &.is-working,
    &:hover {
        background: var(--primary);
        color: white;

        .fa-chevron-right {
            path {
                fill: white;
            }
        }
    }

    &.is-working {
        &:after {
            content: "";
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            background-image: linear-gradient(
                            -45deg,
                            var(--blue-light) 25%,
                            transparent 25%,
                            transparent 50%,
                            var(--blue-light) 50%,
                            var(--blue-light) 75%,
                            transparent 75%,
                            transparent
            );
            opacity: .4;
            z-index: 1;
            background-size: 50px 50px;
            animation: move 2s linear infinite;
            overflow: hidden;
        }
    }
}

.buy-information {
    margin: 10px;
    display: inline-block;
    pointer-events: none;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    padding: 10px 20px;
    border-radius: 120px;
    font-size: 14px;

    .price {
        color: var(--primary);
    }
}

.pay-footer {
    padding-top: 30px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    bottom: 30px;
    pointer-events: none;


    @media only screen and (min-width: 721px) {
        flex-direction: row;
    }
}

.zoomed-product {
    cursor: zoom-out;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.zoomed-product-image {
    background-color: var(--gray-light);
    max-width: calc(100vw - 4vmax);
    max-height: calc(100vh - 4vmax);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.old-price {
    text-decoration: line-through;
    opacity: .4;
}

@media only screen and (max-width: 720px) {
    .card .image {
        pointer-events: none;
    }
}

.product {
    display: flex;

    .thumbnail {
        object-fit: cover;
        width: 100px;
        height: 100px;
    }
}

.new-product {
    text-transform: lowercase;
    font-style: normal;
    border-radius: 20px;
    float: right;
    letter-spacing: 2px;
    color: white;
    background: var(--blue-light);
    padding: 3px 7px 4px 10px;
    display: inline-block;
    margin-top: -3px;
}

.shipping-costs {
    font-size: 10px;
}

.no-stock,
.in-stock {
    text-align: right;
    height: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    gap: 6px;
    font-size: 11px;
    color: var(--gray);

    path {
        fill: var(--gray-dark);
    }
}

#app {
    @media only screen and (min-width: 1340px) {
        display: flex;
        position: relative;
        align-items: flex-start;

        .site-header {
            background: #f5f5f5;
            position: fixed;
            top: 0;
            padding-top: 20px;
            text-align: left;
            width: 320px;
            height: 100%;
        }

        .site-title {
            padding: 20px 40px;
            text-align: left;
        }

        .site-introduction {
            padding-left: 40px;
            max-height: calc(100vh - 392px);
            overflow: auto;

            ul {
                padding: 0;
                padding-left: 16px;
            }
        }

        stripe-cards {
            margin-left: 320px;
            flex: 1 1 auto;
            margin-right: 40px;
            padding-top: 29px;
        }

        .site-logo {
            margin-left: 40px;
        }

        .pay-footer {
            position: fixed;
            padding-left: 40px;
            left: 0;
            width: 320px;
            background: var(--pink);
            bottom: 0;
            padding-bottom: 20px;
            padding-top: 10px;
            align-items: flex-start;
            flex-direction: column;

            .buy-information {
                margin-left: 0;
                text-align: left;
                box-shadow: none;
            }
        }

        .buy-information {
            background: none;
            border: none;
            padding-left: 0;
        }
    }
}

.thank-you {
    padding: 40px;
    text-align: center;

    .thanks-title {
        color: var(--primary);
        font-weight: 300;
    }

    img {
        border-radius: 50%;
    }

    @media only screen and (min-width: 721px) {
        text-align: left;
        margin-left: 320px;
    }
}

.back-button {
    font-size: 14px;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    background: white;
    transition: all var(--speed) ease-in-out;
    border: 2px solid var(--primary);
    pointer-events: all;
    position: relative;
    overflow: hidden;
    color: var(--primary);

    &:hover {
        background: var(--primary);
        color: white;

        .fa-chevron-right {
            path {
                fill: white;
            }
        }
    }
}

.language-button {
    border: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;

    img {
        height: 14px;
    }

    &.hidden {
        display: none;
    }

    @media only screen and (min-width: 1340px) {
        transform: translateX(-100%);
        position: fixed;
        left: 310px;
        right: auto;
        z-index: 3;
    }
}
