@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

:root {
    --gray: #818080;
    --gray-light: #d9d6d6;
    --green: green;
    --green-light: #a8d4a8;
    --speed: .3s;
}

body {
    height: 100%;
    text-align: center;

    &[data-zoom="true"] {
        &:after {
            content: '';
            display: block;
            background: black;
            opacity: .4;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html {
    height: 100%;
}

.no-button {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
}

.site-title {
    width: 100%;
    text-align: center;
    position: sticky;
    top: -20px;
    background: linear-gradient(white 0%, rgba(255, 255, 255, .7) 50%, rgba(255, 255, 255, 0));
    margin: 0;
    padding: 50px;
}

.introduction {
    max-width: 1220px;
    padding: 0 20px;
    margin: 30px auto;
    text-align: left;
    color: var(--gray);
    line-height: 24px;
    font-size: 16px;
}

.cards {
    text-align: center;
    width: 100%;
    max-width: 980px;
    margin: 0 auto 10px;
    padding: 10px;
    column-gap: 50px;

    @media only screen and (min-width: 721px) {
        columns: 2;
    }

    @media only screen and (min-width: 721px) {
        columns: 2;
    }

}

.card {
    align-self: center;
    display: flex;
    text-align: left;
    flex-direction: column;
    flex: 1 1 200px;
    margin-bottom: 30px;

    .title {
        color: var(--gray);
        font-weight: normal;
        font-size: 12px;
        font-style: italic;
        letter-spacing: 1px;
    }

    .image {
        background: var(--gray-light);
        display: block;
        max-width: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        cursor: zoom-in;
        transition: all var(--speed) ease-in-out;
        background-size: contain;
    }

    .add-to-basket {
        user-select: none;
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-top: 20px;
        align-items: center;

        .fa-shopping-cart {
            width: 40px;
            height: 40px;
            display: block;
            padding: 10px;
        }

        .quantity {
            margin-left: 12px;
            color: white;
            font-size: 14px;
            margin-right: -3px;
        }

        .remove-product-button {
            color: var(--gray);
            background: var(--gray-light);
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }

        .add-product-button {
            display: flex;
            justify-content: flex-end;
            gap: 3px;
            align-items: center;
            background: var(--gray-light);
            border-radius: 20px;

            &:hover {
                background: var(--green);

                path {
                    fill: white;
                }
            }
        }

        .price {
            margin-right: auto;
            color: var(--gray);
        }
    }

    &.has-line-item .add-to-basket {
        .add-product-button {
            background: var(--green);

            path {
                fill: white;
            }
        }

        .price {
            color: var(--green);
        }

    }

    &.portrait {
        .image {
            margin: 0 auto;
            width: 80%;
        }

        .add-to-basket,
        .title {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &:hover .image {
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    }
}

.go-to-stripe-button {
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
    background: var(--green-light);
    transition: all var(--speed) ease-in-out;
    border: 2px solid var(--green);
    pointer-events: all;
    position: relative;
    overflow: hidden;

    .total-price {
        background: var(--green);
        color: white;
        font-size: 13px;
        padding: 10px;
        border-radius: 20px;
        margin-right: 20px;
        transition: all var(--speed) ease-in-out;
    }

    .fa-chevron-right {
        margin-left: 10px;
        path {
            fill: var(--green);
            transition: all var(--speed) ease-in-out;
        }
    }

    &.disabled {
        pointer-events: none;
        border-color: var(--gray);
        background: var(--gray-light);
        color: var(--gray);

        .fa-chevron-right {
            path {
                fill: var(--gray);
            }
        }
    }

    &:hover {
        background: var(--green);
        color: white;

        .fa-chevron-right {
            path {
                fill: white;
            }
        }
    }

    &.is-working {
        &:after {
            content: "";
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            background-image: linear-gradient(
                            -45deg,
                            rgba(255, 255, 255, .2) 25%,
                            transparent 25%,
                            transparent 50%,
                            rgba(255, 255, 255, .2) 50%,
                            rgba(255, 255, 255, .2) 75%,
                            transparent 75%,
                            transparent
            );
            z-index: 1;
            background-size: 50px 50px;
            animation: move 2s linear infinite;
            overflow: hidden;
        }
    }
}

.buy-information {
    margin: 10px;
    display: inline-block;
    pointer-events: none;
    background: var(--gray-light);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--green);
}

.pay-footer {
    padding-top: 30px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    bottom: 30px;
    pointer-events: none;


    @media only screen and (min-width: 721px) {
        flex-direction: row;
    }
}

.zoomed-product {
    cursor: zoom-out;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.zoomed-product-image {
    background-color: var(--gray-light);
    max-width: calc(100vw - 4vmax);
    max-height: calc(100vh - 4vmax);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.old-price {
    text-decoration: line-through;
    opacity: .4;
}

@media only screen and (max-width: 720px) {
    .card .image {
        pointer-events: none;
    }
}
