@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

:root {
    --gray: #818080;
    --gray-light: #d9d6d6;
    --gray-lightest: #fafafa;
    --gray-dark: #262626;
    --green: green;
    --green-light: #a8d4a8;
    --speed: .3s;
    --blue: #1d5766;
    --blue-light: #a0d1de;

    --primary: var(--blue);
    --primary-light: var(--blue-light);

    --pink: #f8dbdd;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
}

body[data-zoom="true"]:after {
            content: '';
            display: block;
            background: black;
            opacity: .8;
            width: 100%;
            z-index: 4;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html {
    height: 100%;
    margin: 0;
}

.no-button {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
}

.site-title {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-weight: 300;
    color: #1d5766;
    color: var(--primary);
}

@media only screen and (min-width: 721px) {

.site-title {
        padding: 50px
}
    }

.site-logo {
    margin-top: 20px;
    max-width: 90px;
}

.site-introduction {
    padding: 0 20px;
    max-width: 600px;
    line-height: 24px;
    font-size: 13px;
    margin: 0 auto 30px;
}

@media only screen and (min-width: 721px) {

.site-introduction {
        margin: 0 auto 60px
}
    }

#app {
    height: 100%;
}

.cards {
    text-align: center;
    width: 100%;
    max-width: 980px;
    margin: 0 auto 70px;
    padding: 20px;
    grid-column-gap: 50px;
    -moz-column-gap: 50px;
         column-gap: 50px;
}

@media only screen and (min-width: 721px) {

.cards {
        -moz-column-count: 2;
             column-count: 2
}
    }

@media only screen and (min-width: 1580px) {

.cards {
        -moz-column-count: 3;
             column-count: 3;
        padding: 20px 120px;
        max-width: none
}
    }

.card {
    align-self: center;
    display: flex;
    text-align: left;
    flex-direction: column;
    flex: 1 1 200px;
    margin-bottom: 60px;

    page-break-inside: avoid;

    -moz-column-break-inside: avoid;

         break-inside: avoid;
    page-break-after: avoid;
    -moz-column-break-after: avoid;
         break-after: avoid;
    page-break-before: avoid;
    -moz-column-break-before: avoid;
         break-before: avoid;
}

.card .title {
        color: #262626;
        color: var(--gray-dark);
        font-weight: normal;
        font-size: 12px;
        font-style: italic;
        letter-spacing: 1px;
    }

.card .image {
        background: #d9d6d6;
        background: var(--gray-light);
        display: block;
        max-width: 100%;
        position: relative;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        cursor: zoom-in;
        transition: all .3s ease-in-out;
        transition: all var(--speed) ease-in-out;
        background-size: contain;
    }

.card .inner-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }

.card .add-to-basket {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        grid-gap: 10px;
        gap: 10px;
        padding-top: 10px;
        align-items: flex-start;
    }

.card .add-to-basket .fa-shopping-cart {
            width: 40px;
            height: 40px;
            display: block;
            padding: 10px;
        }

.card .add-to-basket .fa-shopping-cart path {
                transition: fill .3s ease-in-out;
                transition: fill var(--speed) ease-in-out;
                fill: #262626;
                fill: var(--gray-dark);
            }

.card .add-to-basket .quantity {
            margin-left: 12px;
            color: white;
            font-size: 14px;
            margin-right: -3px;
        }

.card .add-to-basket .remove-product-button {
            color: #818080;
            color: var(--gray);
            background: #d9d6d6;
            background: var(--gray-light);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-top: 6px;
            transition: all .3s ease-in-out;
            transition: all var(--speed) ease-in-out;
        }

.card .add-to-basket .remove-product-button:hover {
                color: #d9d6d6;
                color: var(--gray-light);
                background: #818080;
                background: var(--gray);
            }

.card .add-to-basket .add-product-button {
            display: flex;
            justify-content: flex-end;
            grid-gap: 3px;
            gap: 3px;
            align-items: center;
            background: #d9d6d6;
            background: var(--gray-light);
            border-radius: 20px;
            transition: all .3s ease-in-out;
            transition: all var(--speed) ease-in-out;
        }

.card .add-to-basket .add-product-button:hover {
                background: #1d5766;
                background: var(--primary);
            }

.card .add-to-basket .add-product-button:hover path {
                    fill: white;
                }

.card .add-to-basket .price {
            margin-right: auto;
            color: #818080;
            color: var(--gray);
            margin-top: 4px;
        }

.card.has-line-item .add-to-basket .add-product-button {
            background: #1d5766;
            background: var(--primary);
        }

.card.has-line-item .add-to-basket .add-product-button path {
                fill: white;
            }

.card.has-line-item .add-to-basket .price {
            color: #1d5766;
            color: var(--primary);
        }

.card.portrait .image {
            margin: 0 auto;
            width: 80%;
        }

.card.portrait .add-to-basket,
        .card.portrait .title {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

.card:hover .image {
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    }

.card .add-to-basket.disabled .add-product-button {
        pointer-events: none;
        background: #818080;
        background: var(--gray);
    }

.go-to-stripe-button {
    font-size: 14px;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    transition: all var(--speed) ease-in-out;
    border: 2px solid #1d5766;
    border: 2px solid var(--primary);
    pointer-events: all;
    position: relative;
    overflow: hidden;

    background: #f7dbdc;
    color: #1d5766;
    color: var(--primary);
}

.go-to-stripe-button .total-price {
        background: #1d5766;
        background: var(--primary);
        color: white;
        font-size: 13px;
        padding: 10px;
        border-radius: 20px;
        margin-right: 20px;
        transition: all .3s ease-in-out;
        transition: all var(--speed) ease-in-out;
    }

.go-to-stripe-button .fa-chevron-right {
        margin-left: 10px;
    }

.go-to-stripe-button .fa-chevron-right path {
            fill: #1d5766;
            fill: var(--primary);
            transition: all .3s ease-in-out;
            transition: all var(--speed) ease-in-out;
        }

.go-to-stripe-button.disabled {
        pointer-events: none;
        border-color: #818080;
        border-color: var(--gray);
        background: #d9d6d6;
        background: var(--gray-light);
        color: #818080;
        color: var(--gray);
        font-weight: normal;
    }

.go-to-stripe-button.disabled .fa-chevron-right path {
                fill: #818080;
                fill: var(--gray);
            }

.go-to-stripe-button.is-working,
    .go-to-stripe-button:hover {
        background: #1d5766;
        background: var(--primary);
        color: white;
    }

.go-to-stripe-button.is-working .fa-chevron-right path, .go-to-stripe-button:hover .fa-chevron-right path {
                fill: white;
            }

.go-to-stripe-button.is-working:after {
            content: "";
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            background-image: linear-gradient(
                            -45deg,
                            #a0d1de 25%,
                            transparent 25%,
                            transparent 50%,
                            #a0d1de 50%,
                            #a0d1de 75%,
                            transparent 75%,
                            transparent
            );
            background-image: linear-gradient(
                            -45deg,
                            var(--blue-light) 25%,
                            transparent 25%,
                            transparent 50%,
                            var(--blue-light) 50%,
                            var(--blue-light) 75%,
                            transparent 75%,
                            transparent
            );
            opacity: .4;
            z-index: 1;
            background-size: 50px 50px;
            -webkit-animation: move 2s linear infinite;
                    animation: move 2s linear infinite;
            overflow: hidden;
        }

.buy-information {
    margin: 10px;
    display: inline-block;
    pointer-events: none;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    padding: 10px 20px;
    border-radius: 120px;
    font-size: 14px;
}

.buy-information .price {
        color: #1d5766;
        color: var(--primary);
    }

.pay-footer {
    padding-top: 30px;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    bottom: 30px;
    pointer-events: none;
}

@media only screen and (min-width: 721px) {

.pay-footer {
        flex-direction: row
}
    }

.zoomed-product {
    cursor: zoom-out;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.zoomed-product-image {
    max-width: calc(100vw - 4vmax);
    max-height: calc(100vh - 4vmax);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zoomed-product-image .image {
        max-width: 100%;
        max-height: calc(100vh - 120px);
   
        background-color: #d9d6d6;
   
        background-color: var(--gray-light);
    }

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.old-price {
    text-decoration: line-through;
    opacity: .4;
}

.product {
    display: flex;
}

.product .thumbnail {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100px;
        height: 100px;
    }

.new-product {
    text-transform: lowercase;
    font-style: normal;
    border-radius: 20px;
    float: right;
    letter-spacing: 2px;
    color: white;
    background: #a0d1de;
    background: var(--blue-light);
    padding: 3px 7px 4px 10px;
    display: inline-block;
    margin-top: -3px;
}

.shipping-costs {
    font-size: 10px;
}

.no-stock,
.in-stock {
    text-align: right;
    height: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    grid-gap: 6px;
    gap: 6px;
    font-size: 11px;
    color: #818080;
    color: var(--gray);
}

.no-stock path, .in-stock path {
        fill: #262626;
        fill: var(--gray-dark);
    }

@media only screen and (min-width: 1340px) {

#app {
        display: flex;
        position: relative;
        align-items: flex-start
}

        #app .site-header {
            background: #f5f5f5;
            position: fixed;
            top: 0;
            padding-top: 20px;
            text-align: left;
            width: 320px;
            height: 100%;
        }

        #app .site-title {
            padding: 20px 40px;
            text-align: left;
        }

        #app .site-introduction {
            padding-left: 40px;
            max-height: calc(100vh - 392px);
            overflow: auto;
        }

            #app .site-introduction ul {
                padding: 0;
                padding-left: 16px;
            }

        #app stripe-cards {
            margin-left: 320px;
            flex: 1 1 auto;
            margin-right: 40px;
            padding-top: 29px;
        }

        #app .site-logo {
            margin-left: 40px;
        }

        #app .pay-footer {
            position: fixed;
            padding-left: 40px;
            left: 0;
            width: 320px;
            background: #f8dbdd;
            background: var(--pink);
            bottom: 0;
            padding-bottom: 20px;
            padding-top: 10px;
            align-items: flex-start;
            flex-direction: column;
        }

            #app .pay-footer .buy-information {
                margin-left: 0;
                text-align: left;
                box-shadow: none;
            }

        #app .buy-information {
            background: none;
            border: none;
            padding-left: 0;
        }
    }

.thank-you {
    padding: 40px;
    text-align: center;
}

.thank-you .thanks-title {
        color: #1d5766;
        color: var(--primary);
        font-weight: 300;
    }

.thank-you img {
        border-radius: 50%;
    }

@media only screen and (min-width: 721px) {

.thank-you {
        text-align: left;
        margin-left: 320px
}
    }

.back-button {
    font-size: 14px;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    background: white;
    transition: all .3s ease-in-out;
    transition: all var(--speed) ease-in-out;
    border: 2px solid #1d5766;
    border: 2px solid var(--primary);
    pointer-events: all;
    position: relative;
    overflow: hidden;
    color: #1d5766;
    color: var(--primary);
}

.back-button:hover {
        background: #1d5766;
        background: var(--primary);
        color: white;
    }

.back-button:hover .fa-chevron-right path {
                fill: white;
            }

.language-button {
    border: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.language-button img {
        height: 14px;
    }

.language-button.hidden {
        display: none;
    }

@media only screen and (min-width: 1340px) {

.language-button {
        transform: translateX(-100%);
        position: fixed;
        left: 310px;
        right: auto;
        z-index: 3
}
    }

.clear-cart {
    font-size: 14px;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    background: rgba(255, 255, 255, .9);
    transition: all .3s ease-in-out;
    transition: all var(--speed) ease-in-out;
    border: 2px solid #818080;
    border: 2px solid var(--gray);
    pointer-events: all;
    position: relative;
    overflow: hidden;
    color: #818080;
    color: var(--gray);
    margin-bottom: 8px;
}

.clear-cart:hover {
        color: white;
        background-color: #818080;
        background-color: var(--gray);
    }

.buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 0 10px;
}

@media only screen and (min-width: 362px) {
    .go-to-stripe-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .clear-cart {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -2px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1340px) {
    .go-to-stripe-button {
        border-radius: 30px;
        order: 1;
        margin-bottom: 10px;
    }

    .clear-cart {
        border-radius: 30px;
        margin-right: 0;
        order: 2;
        font-size: 12px;
    }

    .buttons-wrapper {
        padding: 0;
        justify-content: flex-start;
    }
}

.go-to-stripe-button:first-child {
    border-radius: 30px;
}

.image-description {
    padding: 10px 0;
    width: 100%;
    color: white;
    background: none;
    display: block;
    text-align: left;
    margin-top: 14px;
}

/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */

.pswp {
    --pswp-bg: #000;
    --pswp-placeholder-bg: #222;
    --pswp-error-text-color: #f7f7f7;
  
    --pswp-root-z-index: 100000;
    
    --pswp-preloader-color: rgba(79, 79, 79, 0.4);
    --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);
    
    /* defined via js:
    --pswp-transition-duration: 333ms; */
    
    --pswp-icon-color: #fff;
    --pswp-icon-color-secondary: #4f4f4f;
    --pswp-icon-stroke-color: #4f4f4f;
    --pswp-icon-stroke-width: 2px;
  }
  
  
  /*
      Styles for basic PhotoSwipe (pswp) functionality (sliding area, open/close transitions)
  */
  
  .pswp {
      position: fixed;
      z-index: var(--pswp-root-z-index);
      display: none;
      touch-action: none;
      outline: 0;
      opacity: 0.003;
      contain: layout style size;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  /* Prevents focus outline on the root element,
    (it may be focused initially) */
  .pswp:focus {
    outline: 0;
  }
  
  .pswp * {
    box-sizing: border-box;
  }
  
  .pswp img {
    max-width: none;
  }
  
  .pswp--open {
      display: block;
  }
  
  .pswp,
  .pswp__bg {
      transform: translateZ(0);
      will-change: opacity;
  }
  
  .pswp__bg {
    opacity: 0.005;
      background: var(--pswp-bg);
  }
  
  .pswp,
  .pswp__scroll-wrap {
      overflow: hidden;
  }
  
  .pswp,
  .pswp__scroll-wrap,
  .pswp__bg,
  .pswp__container,
  .pswp__item,
  .pswp__img,
  .pswp__zoom-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  .pswp {
      position: fixed;
  }
  
  .pswp__img,
  .pswp__zoom-wrap {
      width: auto;
      height: auto;
  }
  
  .pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
      cursor: zoom-in;
  }
  
  .pswp--click-to-zoom.pswp--zoomed-in .pswp__img {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
  }
  
  .pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* :active to override grabbing cursor */
  .pswp--no-mouse-drag.pswp--zoomed-in .pswp__img,
  .pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active,
  .pswp__img {
      cursor: zoom-out;
  }
  
  
  /* Prevent selection and tap highlights */
  .pswp__container,
  .pswp__img,
  .pswp__button {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  .pswp__item {
      /* z-index for fade transition */
      z-index: 1;
      overflow: hidden;
  }
  
  .pswp__hidden {
      display: none !important;
  }
  
  
  /*
  
    PhotoSwipe UI
  
  */
  
  /*
      Error message appears when image is not loaded
      (JS option errorMsg controls markup)
  */
  .pswp__error-msg {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      padding: 0 10px;
      margin-top: -0.5em;
      font-size: 1em;
      line-height: 1;
      color: var(--pswp-error-text-color);
      text-align: center;
  }
  
  .pswp__error-msg a {
    color: var(--pswp-error-text-color);
    text-decoration: underline;
  }
  
  /*
  class pswp__hide-on-close is applied to elements that
  should hide (for example fade out) when PhotoSwipe is closed
  and show (for example fade in) when PhotoSwipe is opened
   */
  .pswp .pswp__hide-on-close {
      opacity: 0.005;
      will-change: opacity;
      transition: opacity var(--pswp-transition-duration) cubic-bezier(0.4, 0, 0.22, 1);
      z-index: 10; /* always overlap slide content */
      pointer-events: none; /* hidden elements should not be clickable */
  }
  
  /* class pswp--ui-visible is added when opening or closing transition starts */
  .pswp--ui-visible .pswp__hide-on-close {
      opacity: 1;
      pointer-events: auto;
  }
  
  /* <button> styles, including css reset */
  .pswp__button {
      position: relative;
      display: block;
      width: 50px;
      height: 60px;
      padding: 0;
      margin: 0;
      overflow: hidden;
      cursor: pointer;
      background: none;
      border: 0;
      box-shadow: none;
      opacity: 0.85;
      -webkit-appearance: none;
      -webkit-touch-callout: none;
  }
  
  .pswp__button:hover,
  .pswp__button:active,
  .pswp__button:focus {
    transition: none;
    padding: 0;
    background: none;
    border: 0;
    box-shadow: none;
    opacity: 1;
  }
  
  .pswp__button:disabled {
    opacity: 0.3;
    cursor: auto;
  }
  
  .pswp__icn {
    position: absolute;
    top: 14px;
    left: 9px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    pointer-events: none;
    fill: var(--pswp-icon-color);
    color: var(--pswp-icon-color-secondary);
    border-radius: 50%;
  }
  
  .pswp__icn-shadow {
    stroke: var(--pswp-icon-stroke-color);
    stroke-width: var(--pswp-icon-stroke-width);
    fill: none;
  }
  
  .pswp__icn:focus {
      outline: 0;
  }
  
  /*
      div element that matches size of large image,
      large image loads on top of it,
      used when msrc is not provided
  */
  div.pswp__img--placeholder,
  .pswp__img--with-bg {
      background: var(--pswp-placeholder-bg);
  }
  
  .pswp__top-bar {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 60px;
      display: flex;
    flex-direction: row;
    justify-content: flex-end;
      z-index: 10;
  
      /* allow events to pass through top bar itself */
      pointer-events: none !important;
  }
  .pswp__top-bar > * {
    pointer-events: auto;
    /* this makes transition significantly more smooth,
       even though inner elements are not animated */
    will-change: opacity;
  }
  
  
  /*
  
    Close button
  
  */
  .pswp__button--close {
    margin-right: 6px;
  }
  
  
  /*
  
    Arrow buttons
  
  */
  .pswp__button--arrow {
    position: absolute;
    top: 0;
    width: 75px;
    height: 100px;
    top: 50%;
    margin-top: -50px;
  }
  
  .pswp__button--arrow:disabled {
    display: none;
    cursor: default;
  }
  
  .pswp__button--arrow .pswp__icn {
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background: none;
    border-radius: 0;
  }
  
  /* Display arrows only when user hovers over them */
  /* .pswp--ui-visible {
    .pswp__button--arrow, {
      opacity: 0.75;
  
      &:hover,
      &:focus {
        opacity: 1;
        outline: none;
      }
    }
  } */
  
  .pswp--one-slide .pswp__button--arrow {
    display: none;
  }
  
  /* hide arrows on touch screens */
  .pswp--touch .pswp__button--arrow {
    visibility: hidden;
  }
  
  /* show arrows only after mouse was used */
  .pswp--has_mouse .pswp__button--arrow {
    visibility: visible;
  }
  
  .pswp__button--arrow--prev {
    right: auto;
    left: 0px;
  }
  
  .pswp__button--arrow--next {
    right: 0px;
  }
  .pswp__button--arrow--next .pswp__icn {
    left: auto;
    right: 14px;
    /* flip horizontally */
    transform: scale(-1, 1);
  }
  
  /*
  
    Zoom button
  
  */
  .pswp__button--zoom {
    display: none;
  }
  
  .pswp--zoom-allowed .pswp__button--zoom {
    display: block;
  }
  
  /* "+" => "-" */
  .pswp--zoomed-in .pswp__zoom-icn-bar-v {
    display: none;
  }
  
  
  /*
  
    Loading indicator
  
  */
  .pswp__preloader {
    position: absolute;
    display: none;
    width: 24px;
    height: 24px;
    pointer-events: none;
    border: 3px solid var(--pswp-preloader-color);
    border-left-color: var(--pswp-preloader-color-secondary);
    border-radius: 50%;
  
  
    
  
    /* left:50% / top:50% styles are defined via JS,
      as size of PhotoSwipe viewport might change visually
      (because of UI elements like sidebar),
      use !important if you want to override them */
  }
  
  .pswp__preloader--active {
    display: block;
    -webkit-animation: pswp-fadein 333ms linear, pswp-clockwise 600ms linear infinite;
            animation: pswp-fadein 333ms linear, pswp-clockwise 600ms linear infinite;
  }
  
  .pswp__preloader--hiding {
    -webkit-animation: pswp-clockwise 600ms linear infinite;
            animation: pswp-clockwise 600ms linear infinite;
  
    /* use of !important to override hide-on-close styles */
    opacity: 0 !important;
  }
  
  
  @-webkit-keyframes pswp-clockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  @keyframes pswp-clockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @-webkit-keyframes pswp-fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes pswp-fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  /*
  
    "1 of 10" counter
  
  */
  .pswp__counter {
    height: 30px;
    margin: 18px 0 0 20px;
    font-size: 14px;
    line-height: 30px;
    color: var(--pswp-icon-color);
    opacity: 0.85;
    margin-right: auto; /* align left */
  }
  
  .pswp--one-slide .pswp__counter {
    display: none;
  }

  .pswp__custom-caption {
    font-size: 16px;
    color: #fff;
    width: calc(100% - 32px);
    max-width: 400px;
    padding: 2px 8px;
    border-radius: 4px;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
  }

  .pswp__custom-caption:empty {
        display: none;
    }
  .pswp__custom-caption a {
    color: #fff;
    text-decoration: underline;
  }
  .hidden-caption-content {
    display: none;
  }